* {
    padding: 0;
    margin: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(2,2,2,0.382),rgba(31,55,55,0.65)),url(img/istockphoto-2A.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    /* padding: 10px; */
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-item1 {
    padding: 10px 30px;
    background-color: purple;
    border-radius: 20px;
}

.menu-item1:hover {
    color:purple;
    background-color: antiquewhite;
}

.image {
    padding: 15px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.nav-links {
    flex: 1;
    text-align: right;
    /* justify-content: space-between; */
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding:30px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
     content: '';
     width: 0%;
     height: 2px;
     background: purple;
     display: block;
     margin: auto;
     transition:0.5s ;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.sub-header {
    background: linear-gradient(rgba(2, 2, 2, 0.382), rgba(31, 55, 55, 0.65)), url(img/istockphoto-2A.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

.logo-name {
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* padding-top: 20px; */
}

.text {
    font-weight: bold;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    color: white;
}

.Content {
    text-align: center;
    color:white;  
}

.sub-content {
    text-align: center;
    color:white;
    font-size: 70px;
    padding-top: 150px;
}


.sub-content1 {
    text-align: center;
    
}

.content {
    font-size: 22px;
}

.comp-name {
    font-size: 75px;
    padding-bottom: 30px;
    padding-top: 130px;
}

.con-tent {
    padding-bottom: 40px;
    font-size: 22px;
}

.register {
    margin-top: 30px;
    padding: 10px 60px;
    background: none;
    border: 2px solid antiquewhite;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.register:hover {
    color:antiquewhite;
    background-color:purple;
}

nav .bi {
    display: none;
    /* scale: 0; */
}


@media(max-width:700px) {

    .header {
        min-height: 100vh;
    }

    .sub-header {
        min-height: 60vh;
    }

    .sub-content {
        padding-top: 100px;
    }

    .text {
        font-weight: bold;
        padding-left: 10px;
        font-size: 20px;                                          
    }

    .image {
        width: 30px;
        height: 30px;
        border-radius:50%;
        background-color:white;
        margin-top: 10px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: purple;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        transform: 1s;
    }

    nav .bi {
        display: block; 
        color: white;
        margin: 10px ;
        font-size: 22px;
        cursor: pointer;

    }
    
    .nav-links ul {
        padding: 30px;
    }
    
    .home-content {
        padding-top: 30px;
    }

    .home-con {
        font-size: 15px;
        /* padding-bottom: 10px; */
        padding: 20px 10px 20px 10px;
    }
    
    .cont {
        padding: 10px 50px;
        border-radius: 25px;
        background: none;
        border: 2px solid white;
        font-size: 27px;
        color: white;
        margin-bottom: 50px;
        cursor: pointer;
    }

    .comp-name {
        font-size: 60px;
        padding-bottom: 30px;
        padding-top: 100px;
    }

    .con-tent {
        font-size: 21px;
        padding:0px 15px 40px 15px ;
    }
    
    .register {
        margin-top: 25px;
        margin-bottom: 50px;
        padding: 10px 60px;
        background: none;
        border: 2px solid antiquewhite;
        color: white;
        cursor: pointer;
        font-size: 20px;
    }

    .down-content {
        display: block;
    }

    #email {
        width: 90%;
    }
}

.About {
    background-color:antiquewhite;
}

.about {
    padding-top: 80px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: purple;
}

.about-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 50%;
    margin-left: 100px;
}

.about1 {
    font-size: 40px;
    padding-bottom: 30px;
    color: purple;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.abt-content {
    font-size: 25px;
    padding-top: 20px;
    word-spacing: 2px;
    font-family: serif;
}

@media(max-width:700px) {
    .About {
        background-color:antiquewhite;
    }

    .sub-content {
        font-size: 50px;
    }
    
    .about {
        padding-top: 80px;
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: purple;
    }
    
    .about-img {
        width: 270px;
        height: 270px;
        object-fit: cover;
        margin-top: 50px;
        border-radius: 50%;
        margin-left: 60px;
        text-align: center;
    }
    
    .about1 {
        padding-top: 30px;
        font-size: 35px;
        color: purple;
        text-align: center;
    }
    
    .about-content {
        display: block;
        align-items: center;
        gap: 4rem;
    }
    
    .abt-content {
        width: 70%;
        font-size: 18px;
        word-spacing: 2px;
        margin-left: 60px;
        padding: 10px 15px 10px 0px;
    } 
    
}

.our-mission {
    padding-left: 170px;
    display: flex;
    gap: 10rem;
}

.mis {
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 30px;
    color: purple;
}

.mis-content {
    font-size: 25px;
}

@media(max-width:700px) {

    .our-mission {
        display: block;
        /* gap: 5rem; */
        padding-left: 30px;
    }
    
    .mission {
        display: block;
    }

    .mis {
        font-size:35px;
        padding-top: 50px;
        padding-bottom: 30px;
        color: purple;
        text-align: center;
    }
    
    .mis-content {
        width: 80%;
        font-size: 18px;
        word-spacing: 2px;
        margin-left: 30px;
        padding: 10px 15px 10px 0px;
    }

}


.about-img1 {
    width: 400px;
        height: 400px;
        object-fit: cover;
        margin-top: 50px;
        border-radius: 50%;
        margin-right: 120px;
        margin-bottom: 50px;
}

@media(max-width:700px) {

    .about-img1 {
        width: 270px;
        height: 270px;
        object-fit: cover;
        margin-top: 50px;
        border-radius: 50%;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .about-img

    #mis {
        
    }
}

.brand {
    margin-left: 90px;
    display: flex;
    gap: 4rem;
}

.webdev {
    border: 1px solid white;
    height: 380px;
    width: 340px;
    object-fit: cover;
    /* transition: .1s ease-in-out; */
    color: white;
    margin-bottom: 50px;
}

.brand1 {
    display: flex;
    margin-left: 90px;
    gap: 4rem;
    margin-top: 50px;
}

.serve {
    color: white;
    text-align: center;
    font-size: 60px;
    /* padding-top: 80px; */
}


.bodycontent {
    background-color: rgb(143, 62, 143);
}

.other-service {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    color: purple;
}

.other-service1 {
    font-size: 20px;
    text-align: center;
    padding-top: 16px;
}

.mentorship {
    color: black;
    background-color: antiquewhite;
    /* height: 100vh; */
}

.mentor-ship {
    padding-top: 50px;
    font-size: 20px;
    gap: 2rem;
    padding-bottom: 50px;
    display: flex;
}

.car-reer {
    font-size: 20px;
}

.career {
    font-size: 30px;
    padding-bottom: 10px;
    color:purple;
}

.image2 {
    margin-left: 150px;
}

.Career {
    align-items: center;
    margin-left: 40px;
}

.bodycontent img:hover{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.web1 {
    border-bottom: 2px solid rebeccapurple;
    background-color: white;
    color: purple;
    font-size: 20px;
    text-align: center;
}

.web2 {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}

.service-cont {
    padding-bottom: 50px;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size:20px;
}

.home-content {
    text-align: center;
    background: linear-gradient(rgba(2, 2, 2, 0.382), rgba(31, 55, 55, 0.65)),url(img/istockphoto-2A.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.home-con {
    font-size: 50px;
    padding-top: 50px;
}

.home-cont {
    font-size: 30px;
    height: 35vh;
    padding: 30px 20px 0px 20px;
}

.cont {
    padding: 10px 50px;
    border-radius: 25px;
    background: none;
    border: 2px solid white;
    font-size: 27px;
    color: white;
    margin-bottom: 50px;
    cursor: pointer;
}

.cont:hover {
    background-color: purple;
    color: antiquewhite;
}

.image4 {
    width: 340px;
}

.image5 {
    width: 360px;
    height: 280px;
}

@media(max-width:700px){
    .brand {
        margin-left: 40px;
        display: block;
    }
    
    .webdev {
        border: 1px solid white;
        height: 380px;
        width: 300px;
        object-fit: cover;
        /* transition: .1s ease-in-out; */
        color: white;
        margin-bottom: 50px;
    }
    
    .image4 {
        width: 300px;
    }

    .brand1 {
        display:block;
        margin-left: 40px;
        margin-top: 50px;
    }
    
    .serve {
        color: white;
        text-align: center;
        font-size: 60px;
    }
    
    .bodycontent {
        background-color: rgb(143, 62, 143);
    }
    
    .other-service1 {
        font-size: 20px;
        text-align: center;
        padding: 16px 15px 0px 15px ;
    }
    
    .bodycontent img:hover{
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    
    .web1 {
        border-bottom: 2px solid rebeccapurple;
        background-color: white;
        color: purple;
        font-size: 20px;
        text-align: center;
    }
    
    .web2 {
        font-size: 17px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: antiquewhite;
    }
    
    .service-cont {
        padding-bottom: 50px;
        color: white;
        text-align: center;
        padding: 30px;
        font-size:18px;
    }
    
    .home-content {
        text-align: center;
        background: linear-gradient(rgba(2, 2, 2, 0.382), rgba(31, 55, 55, 0.65)),url(img/istockphoto-2A.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
    }
    
    .home-con {
        font-size: 50px;
        padding-top: 50px;
    }
    
    .home-cont {
        font-size: 30px;
        height: 35vh;
        padding: 20px 20px 0px 20px;
    }
    
    .cont {
        padding: 10px 50px;
        border-radius: 25px;
        background: none;
        border: 2px solid white;
        font-size: 27px;
        color: white;
        margin-bottom: 50px;
        cursor: pointer;
        margin-top: 60px;
    }
    
    .cont:hover {
        background-color: purple;
        color: antiquewhite;
    }
} 

 @media(max-width:700px) {

    .mentorship {
        color: black;
        background-color: antiquewhite;
    }
    
    
    .other-service {
        padding-top: 30px;
        font-size: 30px;
    }

    .other-service1 {
        font-size: 20px;
    }

    .image5 {
        width: 280px;
        height: 230px;
    }

    .mentor-ship {
        padding-top: 30px;
        font-size: 20px;
        display: block;
    }
    
    .career {
        font-size: 25px;
        padding-bottom: 10px;
        color:purple;
        /* text-align: center; */
    }

    .car-reer {
        font-size: 18px;
        padding-bottom: 20px;
        width: 70%;
    }
    
    .image2 {
        margin-left: 150px;
    }
    
    .Career {
        align-items: center;
        margin-left: 45px;
        padding-bottom: 20px;
    }
 }

.down-content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

.choose {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: rebeccapurple;
    padding-top: 50px;
}

#icons {
    font-size: 40px;
    color: gray;
}

.prac-exp {
    padding-bottom: 40px;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.prac-exp1 {
    padding-bottom: 50px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    padding-left: 110px;
}

.pract {
    font-size: 27px;
    padding-top: 20px;
    color: gray;
}

.pract-exp {
    font-size: 17px;
    /* font-family:Arial, Helvetica, sans-serif; */
    padding-top: 15px;
    text-align: center;
    padding-bottom: 50px;
}

@media(max-width:700px){

    .choose {
        text-align: center;
        font-size: 35px;
        margin-bottom: 50px;
        color: rebeccapurple;
        padding-top: 50px;
    }

    .down-content {
        display: block;
    }
    
    #icons {
        font-size: 30px;
        color: gray;
    }
    
    .prac-exp {
        padding-bottom: 40px;
        text-align: center;
        padding: 0px 10px 0px 10px;
    }
    
    .prac-exp1 {
        padding-bottom: 40px;
        text-align: center;
        padding: 0px 10px 0px 10px;
    }
    
    .pract {
        font-size: 27px;
        padding-top: 20px;
        color: gray;
    }
    
    .pract-exp {
        font-size: 18px;
        font-family: s;
        padding-top: 15px;
        text-align: center;
        padding-bottom: 50px;
    }
    
    .home-content {
        text-align: center;
        background: linear-gradient(rgba(2, 2, 2, 0.382), rgba(31, 55, 55, 0.65)),url(img/istockphoto-2A.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
    }
    
    .home-con {
        font-size: 47px;
        padding-top: 40px;
    }
    
    .home-cont {
        font-size: 22px;
        height: 30vh;
        padding: 40px 20px 0px 0px;
    }

    .cont {
        padding: 10px 40px;
        border-radius: 25px;
        background: none;
        border: 2px solid white;
        font-size: 25px;
        color: white;
        margin-top: 100px;
        margin-bottom: 50px;
        cursor: pointer;
    }

}


.Partners {
    padding-top: 70px;
}

.part-ner {
    font-size: 30px;
    text-align: center;
    color: purple;
    padding-top: 50px;
}

.image1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.Partners {
    display: flex;
    gap: 3rem;
    margin-left: 50px;
}

.Blog {
    padding-top: 50px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    padding-left: 70px;
    gap: 12rem;
    background-color: antiquewhite;
    color: purple;
    height: 50vh;
}

.blog {
    padding-bottom: 50px;
    font-size: 50px;
    color: purple;
    width: 50%;
}

.blog1 {
    font-size: 25px;
    color: purple;
    width: 80%;
}

.icons {
    font-size: 30px;
    color: antiquewhite;
    padding-top: 20px;
    gap: 2rem;
    transition: all .2s ease-in-out;
}

.bi-facebook {
    color: white;
    margin-right: 10px;
}

.bi-twitter {
    color: white;
    margin-right: 10px;
}

.bi-instagram {
    color: white;
    margin-right: 10px;
}

.bi-linkedin {
    color: white;
    margin-right: 10px;
}

.Contact {
    background-color: antiquewhite;
    /* padding-bottom: 30px; */
}

.cont-us {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: purple;
    padding-bottom: 10px;
}

.Cont-us {
    text-align: center;
    font-size: 22px;
}

.Contact-us {
    padding-bottom: 50px;
}

.contact-map {
    width: 100%;
    padding: 20px ;
    margin-bottom: 30px;
}

.contact-map iframe {
    width: 200%;
    height: 500px;
}

.address {
    font-size: 40px;
    font-weight: bold;
    padding-left: 30px;
}

.add {
    font-size: 25px;
    padding-top: 15px;
    padding-left: 30px;
}

.add1 {
    font-size: 25px;
    padding-top: 15px;
    text-decoration: none;
    color: black;
}

.add1:hover {
    color: purple;
}

.Add {
    padding-bottom: 40px;
}

.icons1 {
    font-size: 40px;
    padding-top: 20px;
    margin-left: 40px;
    transition: all .2s ease-in-out;
}

.bi-facebook {
    color: purple;
    margin-right: 10px;
}

.bi-twitter {
    color: purple;
    margin-right: 10px;
}

.bi-instagram {
    color: purple;
    margin-right: 10px;
}

.bi-linkedin {
    color: purple;
    margin-right: 10px;
}

.register1 {
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: none;
    cursor: pointer;
    margin-left: 30px;
    border: 3px solid purple;
}

.Addres {
    display: flex;
    gap: 30rem;
    padding-top: 30px;
}

.Add-ress {
    display: flex;
    gap: 15rem;
}

.home-content1 {
    background-color: antiquewhite;
}

.registration {
    margin-left: 70px;
    margin-top: 50px;
    display: flex;
    gap: 17rem;
}

.border {
    padding-bottom: 50px;
}

.reg {
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    color: purple;
}

.reg-img {
    margin-top: 100px;
    border-radius: 10px;
    width: 400px;
    height: 500px;
}

input {
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
    /* margin-top: 10px; */
    background-color: white;
    border-radius: 10px;
}

.input label {
    font-size: 20px;
    color: purple;
}

a {
    text-decoration: none;
}
.send {
    padding: 20px 80px;
    background-color:  rgb(143, 62, 143);
    font-size: 20px;
    margin-top: 30px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 50px;
}

.footer {
    background-color: rgb(143, 62, 143);
    padding-top:30px ;
    color: white;
    padding-bottom: 40px;
}

.tech {
    font-size: 35px;
    padding-bottom: 10px;
}

.foo-ter {
    margin-top: 30px;
    display: flex;
    margin-left: 50px;
    gap: 3.5rem;
}

.footer-send {
    padding: 10px 70px;
    background-color: antiquewhite;
    border: 2px solid white;
    border-radius: 10px;
    color: purple;
}

.tech1 {
    font-size: 20px;
    padding-bottom: 20px;
    /* width: 60%; */
}

.tech2 {
    font-size: 25px;
    padding-bottom: 10px;
    /* width: 50%; */
}

.comp-about:hover {
    color: blueviolet;
}

.comp-about {
    text-decoration: none;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}

.copy {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
    color: purple;
}

@media(max-width:700px) {

    .footer {
        background-color: rgb(143, 62, 143);
        padding-top:30px ;
        color: white;
        padding-bottom: 40px;
    }
    
    .tech {
        font-size: 20px;
        padding-bottom: 20px;
    }
    
    .foo-ter {
        margin-top: 30px;
        display: flex;
        margin-left: 10px;
        gap: 1rem;
    }
    
    .footer-send {
        padding: 10px 30px;
        background-color: antiquewhite;
        border: 2px solid white;
        border-radius: 10px;
        color: purple;
        width: 30%;
    }

    .tech1 {
        font-size: 15px;
        padding-bottom: 20px;
    }
    
    .tech2 {
        font-size: 17px;
        padding-bottom: 20px;
    }

    #email {
        width: 90%;
    }

    .comp-about {
        text-decoration: none;
        color: white;
        font-size: 12px;
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:700px) {
    .Blog {
        padding-top: 20px;
        display: flex;
        align-items: center;
        padding-left: 30px;
        gap: 3rem;
        background-color: antiquewhite;
        color: purple;
        height: 90vh;
    }
    
    .blog {
        padding-bottom: 30px;
        font-size: 50px;
        color: purple;
    }
    
    .blog1 {
        font-size: 20px;
        color: purple;
        width: 50%;
    }
}

@media(max-width:700px) {
    .cont-us {
        text-align: center;
        font-size:30px;
        color: purple;
    }
    
    .icons1 {
        font-size: 30px;
        padding-top: 20px;
        transition: all .2s ease-in-out;
    }
    

    .Cont-us {
        text-align: center;
        font-size: 20px;
        padding: 0px 12px 0px 12px;
    }

    .Contact {
        padding-bottom: 30px;
    }
    
    .Contact-us {
        padding-bottom: 30px;
    }
    
    .contact-map {
        width: 80%;
        padding: 20px ;
        padding-bottom:30px;
        margin-left: 20px;
    }
    
    .contact-map iframe {
        width: 100%;
        height: 300px;
    }
    
    .address {
        font-size: 30px;
        font-weight: bold;
    }
    
    .add {
        font-size: 25px;
        padding-top: 15px;
    }
    
    .add1 {
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    
    .add1:hover {
        color: purple;
    }
    
    .Add {
        padding-bottom: 40px;
    }
    
}

@media(max-width:700px){
    
    .register1 {
        padding: 15px 20px;
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 30px;
        background: none;
        cursor: pointer;
        margin-left: 30px;
        border: 3px solid purple;
    }
    
    .Addres {
        display: block;
    }
    
    .Add-ress {
        display: block;
    }

    .con-add {
        margin-left: 50px;
    }
    
    .home-content1 {
        background-color: antiquewhite;
        
    }
    
    .registration {
        margin-left: 50px;
        margin-top: 50px;
        display: block;
    }
    
    .border {
        padding-bottom: 50px;
    }
    
    .reg {
        padding-top: 20px;
        font-size: 30px;
        text-align: center;
        color: purple;
    }
    
    .reg-img {
        margin-top: 50px;
        border-radius: 10px;
        width: 270px;
        height: 400px;
    }
    
    input {
        width: 80%;
        height: 50px;
        margin-bottom: 30px;
        background-color: white;
        border-radius: 10px;
    }
    
    .input label {
        font-size: 20px;
        color: purple;
    }

    .send {
        padding: 20px 110px;
        background-color:  rgb(143, 62, 143);
        font-size: 20px;
        margin-top: 30px;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        margin-bottom: 50px;
    }
}

@media(max-width:700px) {
    .home-cont {
        font-size: 22px;
        /* height: 30vh; */
        padding: 10px 20px 0px 20px;
    }
}

@media(max-width:700px) {
    .send1 {
        /* width: 40%; */
    }
}


